dtd/DTDFiles/retxml_doc.dtd

<!--
	RetXML : Retriever News Import Format
	Document Type Definition

	This DTD : 		http://www.retriever-info.com/RetXML/retxml.dtd
	Documented DTD: 	http://www.retriever-info.com/RetXML/retxml_doc.dtd
	Example XML :		http://www.retriever-info.com/RetXML/retxml_example.xml
-->


<!ELEMENT retxml (newsitem+)>
<!ATTLIST retxml
	generate_id		CDATA		#IMPLIED
	generate_date		CDATA		#IMPLIED
	generate_comment	CDATA		#IMPLIED
>
<!--
	Element			retxml	Required
	Description		The root element for all news items in a news file

	generate_id		Some id generated by generating system
	generate_date		
	generate_comment	

<!ELEMENT newsitem (language, mediatype, mediatype1?, mediatype2?, mediaformat?, source, source_system?, url?, video_url?, audio_url?, pdf_url?, thumbnail_url?, preview_url?, article_url?, image*, docdate, expire?, publicationdate?, crawldate?, indexdate?, dayofweek?, archivefrom?, archiveonly?, edition?, issue?, physical_position?, logical_position*, article_type?, serie?, seealso*, headline?, subheadline?, preintro?, intro?, story?, teaser*, correction*, byline*, agency?, copyright?, pwd_protection?, ref_area*, ref_person*, ref_corp*, ref_product*, ref_publication*, subject_list*, key_list?, program_name?, extra*, log*, profile_id*, wc?)>
-->

<!ELEMENT newsitem (language, mediatype, mediatype1?, mediatype2?, mediaformat?, source, source_system?, url?, video_url*, audio_url*, pdf_url*, thumbnail_url?, preview_url?, article_url?, image*, docdate, expire?, publicationdate?, crawldate?, indexdate?, dayofweek?, archivefrom?, archiveonly?, edition?, issue?, physical_position?, logical_position*, article_type?, serie?, seealso*, headline?, subheadline?, preintro?, intro?, story?, teaser*, correction*, byline*, agency?, copyright?, pwd_protection?, ref_area*, ref_person*, ref_corp*, ref_product*, ref_publication*, subject_list*, key_list?, program_name?, extra*, log*, profile_id*, wc?)>
<!ATTLIST newsitem
	id			CDATA		#REQUIRED
	local_id		CDATA		#IMPLIED
	old_id			CDATA		#IMPLIED
>
<!--
	Element			newsitem	required
	Description		Top element for an article

	id			Id is composed of a 6-digit unique numeric source id (newspaper,..), the date on format YYYYMMDD and a id unique for the prefix, only letters and digits allowed. Eg:  00000120040101001
	local_id		Publishers own id, when known.
	old_id			w
-->


<!ELEMENT language (#PCDATA)>
<!--
	Element			language	required
	Description		Main language for the source, using a 2-letter upper case code. See ISO 639-1.

-->


<!ELEMENT mediatype (#PCDATA)>
<!--
	Element			mediatype	required
	Description		How the content was published. print, web, audio, video or image

-->

<!ELEMENT mediatype1 (#PCDATA)>
<!--
	Element			mediatype1	optional
	Description		More spesific mediatype description

-->

<!ELEMENT mediatype2 (#PCDATA)>
<!--
	Element			mediatype2	optional
	Description		Even more spesific mediatype description

-->


<!ELEMENT mediaformat (#PCDATA)>
<!--
	Element			mediaformat	optional
	Description		pdf, wav, jpeg...

-->


<!ELEMENT source EMPTY>
<!ATTLIST source
	id			CDATA		#REQUIRED
	name			CDATA		#REQUIRED
	category		CDATA		#IMPLIED
	impressions		CDATA		#IMPLIED
	country			CDATA		#IMPLIED
	region			CDATA		#IMPLIED
	accesstype		(I|E|P|X)	#REQUIRED
	source_rank		CDATA		#IMPLIED
	webrank			CDATA		#IMPLIED
>
<!--
	Element			source		required
	Description		Newspaper name, website name, broadcast company etc

	id			Unique numeric ID for the sourc: Retriever's SourceId's will be continued. MASE will have to assign SourceId's for each source using number from 50000 onwards. MANO will have to assign SourceId's for each of their sources using number from 55000 onwards.
	name			Full name of source
	category		Regional, national, "fagblad" (english?),
	impressions		Number of items printed
	country			ISO country code, where published, Using ISO 3166 A2 upper case  codes
	region			Region code, where published. We will have to develop a coding scheme as we go. For Norway we may use things like NOF03 (fylke) and NOK0301 (kommune) (Oslo).  Include broader terms if any.
	accesstype		Internal/External
	source_rank		
	webrank			
-->


<!ELEMENT source_system (#PCDATA)>
<!--
	Element			source_system	optional
	Description		Mostly for debugging, where the document came from, eg. Mase, mano, sift, scriptname..

-->


<!ELEMENT url (#PCDATA)>
<!--
	Element			url		optional
	Description		URL to the full article, if located externally

-->


<!ELEMENT video_url (#PCDATA)>
<!--
	Element			video_url	optional - repeatable
	Description		URL to video associated with article

-->


<!ELEMENT audio_url (#PCDATA)>
<!--
	Element			audio_url	optional - repeatable
	Description		URL to audio associated with article

-->

<!ELEMENT pdf_url (#PCDATA)>
<!--
        Element                 pdf_url       optional - repeatable
        Description             URL to pdf page associated with article

-->

<!ELEMENT thumbnail_url (#PCDATA)>
<!--
        Element                 thumbnail_url       optional - repeatable
        Description             URL to thumbnail associated with article

-->

<!ELEMENT preview_url (#PCDATA)>
<!--
        Element                 preview_url       optional - repeatable
        Description             URL to preview associated with article

-->

<!ELEMENT article_url (#PCDATA)>
<!--
        Element                 article_url       optional - repeatable
        Description             URL to pdf containing one article

-->


<!ELEMENT image (#PCDATA)>
<!ATTLIST image
	url			CDATA		#IMPLIED
	id			CDATA		#IMPLIED
	photographer		CDATA		#IMPLIED
	rights			CDATA		#IMPLIED
	ill_type		CDATA		#IMPLIED
>
<!--
	Element			image		optional - repeatable
	Description		For historical reasons and the way we receive data, we are not able to link the various attributes together. If the linking can not be done safely, repeat the tag, once for each attribute . Use PCDATA for Image text.

	url			URLs to images associated with article
	id			ID's needed in order to link into something returning the images
	photographer		
	rights			Free form, copyright etc.
	ill_type		Type of illustrations.
-->


<!ELEMENT docdate EMPTY>
<!ATTLIST docdate
	local			CDATA		#REQUIRED
	gmt			CDATA		#REQUIRED
>
<!--
	Element			docdate		required
	Description		This is the date that is normally displayed and the only date we may sort by. The semantics may vary from source to source.

	local			Format YYYY-MM-DDTHH:MM:SS or YYYY-MM-DD (iso8601 without timezone specification)
	gmt			Gmt, iso8601, YYYY-MM-DDTHH:MM:SSZ or YYYY-MM-DD
-->


<!ELEMENT expire (#PCDATA)>
<!--
	Element			expire		optional
	Description		Gmt, iso8601, YYYY-MM-DDTHH:MM:SSZ or YYYY-MM-DD

-->


<!ELEMENT publicationdate (#PCDATA)>
<!--
	Element			publicationdate	optional
	Description		Local time

-->


<!ELEMENT crawldate (#PCDATA)>
<!--
	Element			crawldate	optional
	Description		Local time

-->


<!ELEMENT indexdate (#PCDATA)>
<!--
	Element			indexdate	optional
	Description		Not used. Kept for backwards compatibility.

-->


<!ELEMENT dayofweek (#PCDATA)>
<!--
	Element			dayofweek	optional
	Description		

-->


<!ELEMENT archivefrom (#PCDATA)>
<!--
	Element			archivefrom	optional
	Description		Not used. Kept for backwards compatibility.

-->


<!ELEMENT archiveonly (#PCDATA)>
<!--
	Element			archiveonly	optional
	Description		Not to be monitored by agents. Set to one for unfresh material. Dont set when converting data from other systems.

-->


<!ELEMENT edition (#PCDATA)>
<!--
	Element			edition		optional
	Description		Morning, evening etc.

-->


<!ELEMENT issue (#PCDATA)>
<!--
	Element			issue		optional
	Description		For serials

-->


<!ELEMENT physical_position EMPTY>
<!ATTLIST physical_position
	part			CDATA		#IMPLIED
	page			CDATA		#IMPLIED
	version			CDATA		#IMPLIED
	zone			CDATA		#IMPLIED
>
<!--
	Element			physical_positionoptional
	Description		The articles physical position in printed newspaper

	part			eg, 1
	page			eg. 1,2,7
	version			1 2 3
	zone			1 2 3
-->


<!ELEMENT logical_position EMPTY>
<!ATTLIST logical_position
	type			CDATA		#IMPLIED
	value			CDATA		#IMPLIED
>
<!--
	Element			logical_positionoptional - repeatable
	Description		Logical placement of the article. Type=value concatinated into one fast field

	type			Eg. Stoffgruppe, seksjon, vignett or kolumne
	value			Eg. Økonomi or Børs
-->


<!ELEMENT article_type (#PCDATA)>
<!--
	Element			article_type	optional
	Description		Eg. cronicle

-->


<!ELEMENT serie (#PCDATA)>
<!--
	Element			serie		optional
	Description		A common name for some kind of news event, eg Irakkrigen, Arafats død

-->


<!ELEMENT seealso EMPTY>
<!ATTLIST seealso
	id			CDATA		#IMPLIED
	title			CDATA		#IMPLIED
	linktype		CDATA		#IMPLIED
>
<!--
	Element			seealso		optional - repeatable
	Description		A reference to another article

	id			Retrievers ID for the article pointed to
	title			The title of the other article
	linktype		Kind of relationship, free form
-->


<!ELEMENT headline (#PCDATA)>
<!--
	Element			headline	optional
	Description		The title/headline. Headline & subheadline are not searchable as seperate fields, but via a common field-group in a composite field

-->


<!ELEMENT subheadline (#PCDATA)>
<!--
	Element			subheadline	optional
	Description		Sub title

-->


<!ELEMENT preintro (#PCDATA)>
<!--
	Element			preintro	optional
	Description		Short intro, use intro if you don't have two parts of the intro

-->


<!ELEMENT intro (#PCDATA)>
<!--
	Element			intro		optional
	Description		Intro. Do not fake an intro by picking a subset of the article body

-->


<!ELEMENT story (#PCDATA)>
<!--
	Element			story		optional
	Description		The main part of the article, excluding title/subtitle, preintro / intro

-->


<!ELEMENT teaser (#PCDATA)>
<!ATTLIST teaser
	headline		CDATA		#IMPLIED
>
<!--
	Element			teaser		optional - repeatable
	Description		Short presentation of the article, often of front page

	headline		Headline for the teaser
-->


<!ELEMENT correction (#PCDATA)>
<!ATTLIST correction
	date			CDATA		#IMPLIED
	editor			CDATA		#IMPLIED
>
<!--
	Element			correction	optional - repeatable
	Description		A correction text that should be displayed along with the article.

	date			
	editor			
-->


<!ELEMENT byline (#PCDATA)>
<!ATTLIST byline
	name			CDATA		#IMPLIED
	email			CDATA		#IMPLIED
>
<!--
	Element			byline		optional - repeatable
	Description		Byline / Author

	name			
	email			
-->


<!ELEMENT agency (#PCDATA)>
<!--
	Element			agency		optional
	Description		Set if article is based on story from Telegram bureaus etc

-->


<!ELEMENT copyright EMPTY>
<!ATTLIST copyright
	display			CDATA		#IMPLIED
	holder			CDATA		#IMPLIED
	year			CDATA		#IMPLIED
>
<!--
	Element			copyright	optional
	Description		Copyright holder

	display			Free form, what vill be displayed (eg "Copyright: Newspaper or author".
	holder			Correct name of copyright holder - when known
	year			
-->


<!ELEMENT pwd_protection (#PCDATA)>
<!--
	Element			pwd_protection		optional
	Description		If article is located on a password protected site

-->

<!ELEMENT ref_area EMPTY>
<!ATTLIST ref_area
	continent		CDATA		#IMPLIED
	country			CDATA		#IMPLIED
	state_prov		CDATA		#IMPLIED
	county_dist		CDATA		#IMPLIED
	city			CDATA		#IMPLIED
	any			CDATA		#IMPLIED
	type			(auto|manual)	"manual"
>
<!--
	Element			ref_area	optional - repeatable
	Description		Geographical areas referred in the article, the fast field contain all attributes exept type

	continent		
	country			
	state_prov		
	county_dist		
	city			
	any			Use this if you don't know what kind
	type			Auto or manual, default=manual
-->


<!ELEMENT ref_person EMPTY>
<!ATTLIST ref_person
	name			CDATA		#REQUIRED
	role			CDATA		#IMPLIED
	type			(auto|manual)	"manual"
>
<!--
	Element			ref_person	optional - repeatable
	Description		People referred to in the artcle. Fast filed contains role:name

	name			Name of person referred.
	role			Default: unknown, might be things like artist, author, writer, director
	type			Auto or manual, default=manual
-->


<!ELEMENT ref_corp EMPTY>
<!ATTLIST ref_corp
	name			CDATA		#REQUIRED
	type			(auto|manual)	"manual"
>
<!--
	Element			ref_corp	optional - repeatable
	Description		Corporations referred to in the article

	name			Name of corporation referred.
	type			Auto or manual, default=manual
-->


<!ELEMENT ref_product EMPTY>
<!ATTLIST ref_product
	name			CDATA		#REQUIRED
	type			(auto|manual)	"manual"
>
<!--
	Element			ref_product	optional - repeatable
	Description		Product reviews etc

	name			
	type			Auto or manual, default=manual
-->


<!ELEMENT ref_publication EMPTY>
<!ATTLIST ref_publication
	name			CDATA		#REQUIRED
	type			(auto|manual)	"manual"
>
<!--
	Element			ref_publication	optional - repeatable
	Description		Book reviews etc, na
	Element			language	required
	Description		Main language for the source, using a 2-letter upper case code. See ISO 639-1.

-->


<!ELEMENT mediatype (#PCDATA)>
<!--
	Element			mediatype	required
	Description		How the content was published. print, web, audio, video or image

-->

<!ELEMENT mediatype1 (#PCDATA)>
<!--
	Element			mediatype1	optional
	Description		More spesific mediatype description

-->

<!ELEMENT mediatype2 (#PCDATA)>
<!--
	Element			mediatype2	optional
	Description		Even more spesific mediatype description

-->


<!ELEMENT mediaformat (#PCDATA)>
<!--
	Element			mediaformat	optional
	Description		pdf, wav, jpeg...

-->


<!ELEMENT source EMPTY>
<!ATTLIST source
	id			CDATA		#REQUIRED
	name			CDATA		#REQUIRED
	category		CDATA		#IMPLIED
	impressions		CDATA		#IMPLIED
	country			CDATA		#IMPLIED
	region			CDATA		#IMPLIED
	accesstype		(I|E|P|X)	#REQUIRED
	source_rank		CDATA		#IMPLIED
	webrank			CDATA		#IMPLIED
>
<!--
	Element			source		required
	Description		Newspaper name, website name, broadcast company etc

	id			Unique numeric ID for the sourc: Retriever's SourceId's will be continued. MASE will have to assign SourceId's for each source using number from 50000 onwards. MANO will have to assign SourceId's for each of their sources using number from 55000 onwards.
	name			Full name of source
	category		Regional, national, "fagblad" (english?),
	impressions		Number of items printed
	country			ISO country code, where published, Using ISO 3166 A2 upper case  codes
	region			Region code, where published. We will have to develop a coding scheme as we go. For Norway we may use things like NOF03 (fylke) and NOK0301 (kommune) (Oslo).  Include broader terms if any.
	accesstype		Internal/External
	source_rank		
	webrank			
-->


<!ELEMENT source_system (#PCDATA)>
<!--
	Element			source_system	optional
	Description		Mostly for debugging, where the document came from, eg. Mase, mano, sift, scriptname..

-->


<!ELEMENT url (#PCDATA)>
<!--
	Element			url		optional
	Description		URL to the full article, if located externally

-->


<!ELEMENT video_url (#PCDATA)>
<!--
	Element			video_url	optional - repeatable
	Description		URL to video associated with article

-->


<!ELEMENT audio_url (#PCDATA)>
<!--
	Element			audio_url	optional - repeatable
	Description		URL to audio associated with article

-->

<!ELEMENT pdf_url (#PCDATA)>
<!--
        Element                 pdf_url       optional - repeatable
        Description             URL to pdf page associated with article

-->

<!ELEMENT thumbnail_url (#PCDATA)>
<!--
        Element                 thumbnail_url       optional - repeatable
        Description             URL to thumbnail associated with article

-->

<!ELEMENT preview_url (#PCDATA)>
<!--
        Element                 preview_url       optional - repeatable
        Description             URL to preview associated with article

-->

<!ELEMENT article_url (#PCDATA)>
<!--
        Element                 article_url       optional - repeatable
        Description             URL to pdf containing one article

-->


<!ELEMENT image (#PCDATA)>
<!ATTLIST image
	url			CDATA		#IMPLIED
	id			CDATA		#IMPLIED
	photographer		CDATA		#IMPLIED
	rights			CDATA		#IMPLIED
	ill_type		CDATA		#IMPLIED
>
<!--
	Element			image		optional - repeatable
	Description		For historical reasons and the way we receive data, we are not able to link the various attributes together. If the linking can not be done safely, repeat the tag, once for each attribute . Use PCDATA for Image text.

	url			URLs to images associated with article
	id			ID's needed in order to link into something returning the images
	photographer		
	rights			Free form, copyright etc.
	ill_type		Type of illustrations.
-->


<!ELEMENT docdate EMPTY>
<!ATTLIST docdate
	local			CDATA		#REQUIRED
	gmt			CDATA		#REQUIRED
>
<!--
	Element			docdate		required
	Description		This is the date that is normally displayed and the only date we may sort by. The semantics may vary from source to source.

	local			Format YYYY-MM-DDTHH:MM:SS or YYYY-MM-DD (iso8601 without timezone specification)
	gmt			Gmt, iso8601, YYYY-MM-DDTHH:MM:SSZ or YYYY-MM-DD
-->


<!ELEMENT expire (#PCDATA)>
<!--
	Element			expire		optional
	Description		Gmt, iso8601, YYYY-MM-DDTHH:MM:SSZ or YYYY-MM-DD

-->


<!ELEMENT publicationdate (#PCDATA)>
<!--
	Element			publicationdate	optional
	Description		Local time

-->


<!ELEMENT crawldate (#PCDATA)>
<!--
	Element			crawldate	optional
	Description		Local time

-->


<!ELEMENT indexdate (#PCDATA)>
<!--
	Element			indexdate	optional
	Description		Not used. Kept for backwards compatibility.

-->


<!ELEMENT dayofweek (#PCDATA)>
<!--
	Element			dayofweek	optional
	Description		

-->


<!ELEMENT archivefrom (#PCDATA)>
<!--
	Element			archivefrom	optional
	Description		Not used. Kept for backwards compatibility.

-->


<!ELEMENT archiveonly (#PCDATA)>
<!--
	Element			archiveonly	optional
	Description		Not to be monitored by agents. Set to one for unfresh material. Dont set when converting data from other systems.

-->


<!ELEMENT edition (#PCDATA)>
<!--
	Element			edition		optional
	Description		Morning, evening etc.

-->


<!ELEMENT issue (#PCDATA)>
<!--
	Element			issue		optional
	Description		For serials

-->


<!ELEMENT physical_position EMPTY>
<!ATTLIST physical_position
	part			CDATA		#IMPLIED
	page			CDATA		#IMPLIED
	version			CDATA		#IMPLIED
	zone			CDATA		#IMPLIED
>
<!--
	Element			physical_positionoptional
	Description		The articles physical position in printed newspaper

	part			eg, 1
	page			eg. 1,2,7
	version			1 2 3
	zone			1 2 3
-->


<!ELEMENT logical_position EMPTY>
<!ATTLIST logical_position
	type			CDATA		#IMPLIED
	value			CDATA		#IMPLIED
>
<!--
	Element			logical_positionoptional - repeatable
	Description		Logical placement of the article. Type=value concatinated into one fast field

	type			Eg. Stoffgruppe, seksjon, vignett or kolumne
	value			Eg. Økonomi or Børs
-->


<!ELEMENT article_type (#PCDATA)>
<!--
	Element			article_type	optional
	Description		Eg. cronicle

-->


<!ELEMENT serie (#PCDATA)>
<!--
	Element			serie		optional
	Description		A common name for some kind of news event, eg Irakkrigen, Arafats død

-->


<!ELEMENT seealso EMPTY>
<!ATTLIST seealso
	id			CDATA		#IMPLIED
	title			CDATA		#IMPLIED
	linktype		CDATA		#IMPLIED
>
<!--
	Element			seealso		optional - repeatable
	Description		A reference to another article

	id			Retrievers ID for the article pointed to
	title			The title of the other article
	linktype		Kind of relationship, free form
-->


<!ELEMENT headline (#PCDATA)>
<!--
	Element			headline	optional
	Description		The title/headline. Headline & subheadline are not searchable as seperate fields, but via a common field-group in a composite field

-->


<!ELEMENT subheadline (#PCDATA)>
<!--
	Element			subheadline	optional
	Description		Sub title

-->


<!ELEMENT preintro (#PCDATA)>
<!--
	Element			preintro	optional
	Description		Short intro, use intro if you don't have two parts of the intro

-->


<!ELEMENT intro (#PCDATA)>
<!--
	Element			intro		optional
	Description		Intro. Do not fake an intro by picking a subset of the article body

-->


<!ELEMENT story (#PCDATA)>
<!--
	Element			story		optional
	Description		The main part of the article, excluding title/subtitle, preintro / intro

-->


<!ELEMENT teaser (#PCDATA)>
<!ATTLIST teaser
	headline		CDATA		#IMPLIED
>
<!--
	Element			teaser		optional - repeatable
	Description		Short presentation of the article, often of front page

	headline		Headline for the teaser
-->


<!ELEMENT correction (#PCDATA)>
<!ATTLIST correction
	date			CDATA		#IMPLIED
	editor			CDATA		#IMPLIED
>
<!--
	Element			correction	optional - repeatable
	Description		A correction text that should be displayed along with the article.

	date			
	editor			
-->


<!ELEMENT byline (#PCDATA)>
<!ATTLIST byline
	name			CDATA		#IMPLIED
	email			CDATA		#IMPLIED
>
<!--
	Element			byline		optional - repeatable
	Description		Byline / Author

	name			
	email			
-->


<!ELEMENT agency (#PCDATA)>
<!--
	Element			agency		optional
	Description		Set if article is based on story from Telegram bureaus etc

-->


<!ELEMENT copyright EMPTY>
<!ATTLIST copyright
	display			CDATA		#IMPLIED
	holder			CDATA		#IMPLIED
	year			CDATA		#IMPLIED
>
<!--
	Element			copyright	optional
	Description		Copyright holder

	display			Free form, what vill be displayed (eg "Copyright: Newspaper or author".
	holder			Correct name of copyright holder - when known
	year			
-->


<!ELEMENT pwd_protection (#PCDATA)>
<!--
	Element			pwd_protection		optional
	Description		If article is located on a password protected site

-->

<!ELEMENT ref_area EMPTY>
<!ATTLIST ref_area
	continent		CDATA		#IMPLIED
	country			CDATA		#IMPLIED
	state_prov		CDATA		#IMPLIED
	county_dist		CDATA		#IMPLIED
	city			CDATA		#IMPLIED
	any			CDATA		#IMPLIED
	type			(auto|manual)	"manual"
>
<!--
	Element			ref_area	optional - repeatable
	Description		Geographical areas referred in the article, the fast field contain all attributes exept type

	continent		
	country			
	state_prov		
	county_dist		
	city			
	any			Use this if you don't know what kind
	type			Auto or manual, default=manual
-->


<!ELEMENT ref_person EMPTY>
<!ATTLIST ref_person
	name			CDATA		#REQUIRED
	role			CDATA		#IMPLIED
	type			(auto|manual)	"manual"
>
<!--
	Element			ref_person	optional - repeatable
	Description		People referred to in the artcle. Fast filed contains role:name

	name			Name of person referred.
	role			Default: unknown, might be things like artist, author, writer, director
	type			Auto or manual, default=manual
-->


<!ELEMENT ref_corp EMPTY>
<!ATTLIST ref_corp
	name			CDATA		#REQUIRED
	type			(auto|manual)	"manual"
>
<!--
	Element			ref_corp	optional - repeatable
	Description		Corporations referred to in the article

	name			Name of corporation referred.
	type			Auto or manual, default=manual
-->


<!ELEMENT ref_product EMPTY>
<!ATTLIST ref_product
	name			CDATA		#REQUIRED
	type			(auto|manual)	"manual"
>
<!--
	Element			ref_product	optional - repeatable
	Description		Product reviews etc

	name			
	type			Auto or manual, default=manual
-->


<!ELEMENT ref_publication EMPTY>
<!ATTLIST ref_publication
	name			CDATA		#REQUIRED
	type			(auto|manual)	"manual"
>
<!--
	Element			ref_publication	optional - repeatable
	Description		Book reviews etc, name of publication reviewed

	name			
	type			Auto or manual, default=manual
-->


<!ELEMENT subject_list (subject*)>
<!ATTLIST subject_list
	scheme			CDATA		#REQUIRED
	type			(auto|manual)	"manual"
>
<!--
	Element			subject_list	optional - repeatable
	Description		Contains subject, might be phrase. fast-field containcs scheme: value

	scheme			Scheme, eg. iptc_subject, iptc_matter, iptc_detail,iptc_code,aftenposten_class, aftenposten_classcode, aftenposten_subject, nn_urltopic, r_category_id
	type			Auto or manual, default=manual
-->


<!ELEMENT subject (#PCDATA)>
<!--
	Element			subject		optional - repeatable
	Description		Used in inside subject_list to split subjects

-->


<!ELEMENT key_list (keyword*)>
<!--
	Element			key_list	optional
	Description		Non-controlled vocabulary

-->


<!ELEMENT keyword (#PCDATA)>
<!--
	Element			keyword		optional - repeatable
	Description		Used inside key_list in order to split words/phrases

-->


<!ELEMENT program_name (#PCDATA)>
<!--
	Element			program_name	optional
	Description		Name of Radio or TV program

-->


<!ELEMENT extra (#PCDATA)>
<!ATTLIST extra
	tag			CDATA		#IMPLIED
>
<!--
	Element			extra		optional - repeatable
	Description		The contents of info tags will not be indexed nor retrievable. Here one might put all available info not available in other tags. Use the tag attribute in order to specify what this is. Eg: <extra tag=.sift:caption_source.>T</extra>

	tag			Mandatory, denotes what the field contains, Be careful to pick unique names, eg prefix whith system_ (mase_foobar)
-->


<!ELEMENT log (#PCDATA)>
<!ATTLIST log
	date			CDATA		#IMPLIED
	by			CDATA		#IMPLIED
	comments		CDATA		#IMPLIED
>
<!--
	Element			log		optional - repeatable
	Description		Used for logging information related to the article, eg. something was changed. Time for logging is placed in the time attribute (UTC)eg: <log time=.2004-05-01T00:04:02Z.>Fixed misspelled author, Hansen changed to Hanssen</log>

	date			When the thingy took place
	by			Who did the change
	comments		Why was the article changed
-->


<!ELEMENT profile_id (#PCDATA)>
<!--
	Element			profile_id	optional - repeatable
	Description		Retriever internal

-->


<!ELEMENT wc (#PCDATA)>
<!--
        Element                 wc              optional
        Description             Specifies the word count to use for the article, must be an integer.
-->

