gov/dtd/BAH_O.dtd

<!ELEMENT AVG_HOURLY_DISCHARGE ( #PCDATA ) >

<!ELEMENT DBI ( RESULTSET ) >
<!ATTLIST DBI driver NMTOKEN #REQUIRED >

<!ELEMENT DOWNSTREAM_ELEV ( #PCDATA ) >

<!ELEMENT LOCALGAGETIME ( #PCDATA ) >

<!ELEMENT RESULTSET ( ROW+ ) >

<!ELEMENT ROW ( LOCALGAGETIME, UPSTREAM_ELEV, DOWNSTREAM_ELEV, AVG_HOURLY_DISCHARGE ) >

<!ELEMENT UPSTREAM_ELEV ( #PCDATA ) >

