gov/dtd/ssacardholdersroster_co.xml.dtd

<!ELEMENT SSA_CARDHOLDERS_ROSTER ( DESCRIPTION, LISTING_DATE, CARDHOLDER+ ) >

<!ELEMENT ADDRESS ( #PCDATA ) >

<!ELEMENT CARDHOLDER ( LAST_NAME, FIRST_NAME, ADDRESS, CITY, STATE, ZIP_CODE, EMAIL ) >

<!ELEMENT CITY ( #PCDATA ) >

<!ELEMENT DESCRIPTION ( #PCDATA ) >

<!ELEMENT EMAIL ( #PCDATA ) >

<!ELEMENT FIRST_NAME ( #PCDATA ) >

<!ELEMENT LAST_NAME ( #PCDATA ) >

<!ELEMENT LISTING_DATE ( #PCDATA ) >

<!ELEMENT STATE ( #PCDATA ) >

<!ELEMENT ZIP_CODE ( #PCDATA ) >

